*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.nav_bar_1{
    position: fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: darkorange;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_bar_2{
    position: fixed;
    float: right;
    height: 100%;
    width: 50px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    right:0px;
}

.blokea{
    height: auto;
    width: auto;

    background-color: beige;
    border: 1px solid red;
}

.blokea a{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    writing-mode: vertical-lr;
    margin-top: 10px;
    text-decoration: none;
}

.blokea:hover{
    
}