*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.nav_bar_1{
    position: fixed;
    z-index:999;
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   background-color: white;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding:20px;
}

.nav_bar_2{
    position: fixed;
    right: 0px;
    height: 100%;
    width: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
  right:0px;
  z-index:9999;
}

.blokea{
    height: 40vh;
    width: auto;
    display: flex;
    align-items: center;
    align-content: center;
    writing-mode: vertical-lr;
    
    
}
.blokea:hover{
    background-color: blue;
    color:white;
}

.blokea a:hover{
    background-color: blue;
    color:white;
}

a{
  display: flex;
  align-items: center;
  margin-top: 15px;
  text-decoration: none;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px ;
}

.edukia{
  position:absolute;
  
  width: 100%;
  height: auto;
  padding:20px;
  padding-top:70px;
  padding-right:70px;
  display:flex;
}

.textua{
  
  width: 50%;
  height: auto;
  padding-right:10px;
  text-align:justify;
}

.irudiak{
  
  width: 50%;
  height: 100%;
  padding-left:10px;
  text-align:justify;
}

